@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
:root {
  --color1: rgb(0, 177, 168);
  --color2: rgb(0, 70, 62);
  --card-border: rgb(81, 68, 64);
  --span: rgb(146, 146, 146);
  --background: rgb(34, 32, 32, .9);
  --header-main-color: rgb(168, 2, 138);
}
.App-header:hover{
  filter: invert(15%);
  filter: brightness(130%);
  transition: .3s ease-out;
}

.header-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 9vh;
  justify-content: center;
  align-items: center;
  padding: calc(10px - 2px) 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background);
  filter: contrast(120%);
}
.header-span {
  font-family: "Exo 2", sans-serif;
  margin-left: 1%;
  color: var(--header-main-color);
  font-weight: bold;
  font-size: calc(1.25rem);
}

/* dropdown */
.home {
  gap: 5px;
}

.home:hover {
  color: white;
}

.dropdown {
  display: grid;
  grid-template-columns: .5fr repeat(3, .75fr) 90px;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bolder;
}

.platform ,
.genre ,
.home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--span);
}
option {
  background-color: rgb(11, 0, 62);
  text-align: center;
  
}

select {
  background-color: transparent;
  color: var(--span);
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: calc(3px + 1px);
  padding: calc(2px + 1px);
  width: min-content;
  font-weight: bold;
  
}

/* video clips carousel */
.carousel {
  position: absolute;
  top: 7%;
  left: 0;
  padding-top: 4%;
  border-radius: 50%;
}
.logo {
  height: auto;
  width: calc(4rem - 0.5rem);
}
.carousel-item > video {
  width: 97vw;
  height: calc(430px + 50px);
  padding: 0 1%;
  margin-left: 4px;
}
.carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 5.2%;
  left: 0;
  width: 100%;
  height: calc(92% + 4%);
  background: linear-gradient(
    90deg,
    rgb(34, 32, 32),
    rgb(48, 6, 196),
    rgb(34, 32, 32)
  );
  opacity: 0.3;
  border-radius: calc(2.5% + 2.5%);
}
/* .carousel-control-next,
.carousel-control-prev {
  display: none;
} */
/* main */
.main {
  margin-top: 86vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(4px + 2px);
  padding: 1%;
}

.card-img > img {
  height: auto;
  width: calc(100%);
  border-radius: 4px 4px 0 0;
}
.main-card {
  border: 1px solid var(--card-border);
  border-radius: 8px;
 
}

.card-body {
  position: inherit;
  display: grid;
  grid-template-rows: calc(52px + 5px) calc(115px + 10px) calc(75px + 5px) 40px;
  gap: calc(4px + 2px);
}

.title-platform {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr 40px;
  color: var(--color1);
  font-size: calc(1rem - 0.2rem);
  gap: calc(5px + 1px);
}
.free-div {
  display: grid;
  justify-content: center;
  align-items: center;
  width: calc(45px + 3px);
  height: calc(21px + 2px);
  background-color: rgb(178, 71, 0);
  color: white;
  border-radius: calc(8px + 2px);
  font-weight: bold;
  font-size: calc(0.9rem - 0.1rem);
  letter-spacing: 1.5px;
  margin-top: calc(3px + 1px);
}
.short-description {
  border-bottom: 1px solid var(--card-border);
}
.mains-platform {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mains-platform > div {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem - 0.2rem);
  font-weight: 700;
  color: var(--color1);
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 70px;
}
.platform-header {
  margin-bottom: calc(0.2rem + 0.1rem);
}
.text-span {
  max-width: 50px;
  max-height: 20px;
  color: var(--span);
  font-size: small;
}
.badge {
  /* border: 1px solid green; */
  background-color: var(--color2);
  padding: calc(15% + 2%);
  border-radius: 5px;
  font-size: smaller;
  color: rgb(249, 255, 255);
}

/* hamburger menu  */
.hamburger-menu {
  display: none;
}

/* login signup */
.login-signup {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10px + 2px);
}
.log-in,
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2%;
  width: calc(90px + 2px);
  /* background-color: rgb(0, 29, 59); */
  cursor: pointer;
  gap: calc(7px + 2px);
  border-radius: 2px;
  font-size: small;
  border: 1px solid var(--color1);
  color: rgb(255, 255, 255);
}

.sign-up {
  background-color: transparent;
  border: 1px solid rgb(0, 142, 189);
  
}
.log-in:hover,
.sign-up:hover {
  background-color: rgba(36, 73, 85, 0.7);
  color: antiquewhite;
}
.popular-platforms{
  display: flex;
  align-items: center;
  gap:6px;
  color:rgb(57, 169, 1)
}
.popular-platforms>a:hover{
  opacity: .8;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: rgb(0, 0, 0);
  padding: 3%;
  font-size: smaller;
}


@media only screen and (max-width: 980px) {
  .header-container {
    display: grid;
    grid-template-columns: 1.75fr 0.25fr;
    padding:4%;
    gap: 10%;
  }

  .main {
    margin-top: calc(57vh + 20px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }

  .platform,
  .genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.5);
    margin: 10px 0;
    position: relative;
  }
  .platform > label,
  .genre > label {
    color: goldenrod;
    font-weight: bolder;
  }
  
  /* responsive dropdown */
  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: calc(25px + 3px);
    right: 10px;
    font-size: calc(30px + 1px);
    width: 50px;
    height: 40px;
    color: var(--color1);
  }

  .home {
    background-color: var(--background);
    width: 100%;
    height: 10vh;
    margin-top: 10%;
    font-size: 1.1rem;
  }
  /* Dropdown Styles */
  .dropdown {
    display: none;
    position: absolute;
    top: calc(70px + 4px);
    right: 1px;
    background-color: rgba(1, 57, 87, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  /* notice how .dropdown.active class used to display .dropdown style above in @media rules */
  .dropdown.active {
    display: block;
    padding: 10px;
  }
  .dropdown label,
  .dropdown select {
    display: block;
    margin: calc(20px + 2px);
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  /* carousel  */
  .carousel {
    top: 0;
  }
  .carousel::after {
    top: 20%;
    height: 60%;
  }
  /* login-signup */
  .login-signup {
    margin-top: 10%;
    font-size:medium;
  }
  .popular-platforms {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 110px;
    width: auto;
    gap: 20px;
  }
.popular-platforms a > *{
    font-size: 1.5rem;
  }
}