@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
:root {
  --color1: rgb(0, 177, 168);
  --color2: rgb(0, 70, 62);
  --card-border: rgb(81, 68, 64);
  --span: rgb(139, 139, 139);
  --background: rgb(34, 32, 32, 0.8);
  --header-main-color: rgb(168, 2, 138);
}

.header-container {
  display: grid;
  grid-template-columns: 0.75fr 1.5fr;
  justify-content: center;
  align-items: center;
  padding: calc(10px - 3px) 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background);
}
.header-span {
  font-family: "Exo 2", sans-serif;
  margin-left: 1%;
  color: var(--header-main-color);
  font-weight: bold;
  font-size: calc(1.25rem);
}
/* dropdown */
.home {
  gap: 5px;
}
.home:hover {
  color: white;
}
.dropdown {
  display: flex;
  gap: 30px;
  font-size: small;
  font-weight: bolder;
}

.platform > label,
.genre > label,
.home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--span);
}
option {
  background-color: var(--color1);
  text-align: center;
  
}
select {
  background-color: transparent;
  color: rgb(168, 2, 138);
  outline: none;
  border-radius: 8px;
  margin-left: calc(3px + 2px);
  padding: 1px;
  width: min-content;
  font-weight: bold;
}
/* video clips carousel */
.carousel {
  position: absolute;
  top: 7%;
  left: 0;
  padding-top: 4%;
  border-radius: 50%;
}
.logo {
  height: auto;
  width: calc(4rem - .5rem);
}
.carousel-item > video {
  width: 97vw;
  height: calc(420px + 50px);
  padding: 0 1%;
  margin-left: 4px;
}
.carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: calc(93% + 5%);
  background: linear-gradient(
    90deg,
    rgb(34, 32, 32),
    rgb(48, 6, 196),
    rgb(34, 32, 32)
  );
  opacity: 0.3;
  border-radius: calc(2.5% + 2.5%);
}
/* .carousel-control-next,
.carousel-control-prev {
  display: none;
} */
/* main */
.main {
  margin-top: 90vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 1%;
}
.card-img > img {
  height: auto;
  width: calc(100%);
  border-radius: 4px 4px 0 0;
}
.main-card {
  border: 1px solid var(--card-border);
  border-radius: 8px;
}
.card-body {
  position: inherit;
  display: grid;
  grid-template-rows: calc(52px + 5px) calc(115px + 10px) calc(75px + 5px) 40px;
  gap: calc(4px + 2px);
}

.title-platform {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr 40px;
  color: var(--color1);
  font-size: calc(1rem - 0.2rem);
  gap: calc(5px + 1px);
}
.free-div {
  display: grid;
  justify-content: center;
  align-items: center;
  width: calc(45px + 3px);
  height: calc(21px + 2px);
  background-color: rgb(207, 90, 0);
  color: white;
  border-radius: calc(8px + 2px);
  font-weight: bold;
  font-size: calc(0.9rem - 0.1rem);
  letter-spacing: 1.5px;
  margin-top: calc(3px + 1px);
}
.short-description {
  border-bottom: 1px solid var(--card-border);
}
.mains-platform {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mains-platform > div {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem - 0.2rem);
  font-weight: 700;
  color: var(--color1);
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 70px;
}
.platform-header {
  margin-bottom: calc(0.2rem + 0.1rem);
}
.text-span {
  max-width: 50px;
  max-height: 20px;
  color: var(--span);
  font-size: small;
}
.badge {
  /* border: 1px solid green; */
  background-color: var(--color2);
  padding: calc(15% + 2%);
  border-radius: 5px;
  font-size: smaller;
  color: rgb(249, 255, 255);
}
.main-play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(136, 0, 0);
  outline: none;
  position: relative;
  max-height: 2em;
  padding: calc(18px + 2px);
  width: 100%;
  font-weight: 900;
  font-size: calc(1rem + 1px);
  letter-spacing: 5px;
  border-radius: 6px;
}
/* animated button */

.main-play:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 6px;
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #a600af,
    rgb(196, 199, 3),
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in;
  animation: animate 20s linear infinite;
}
.main-play:hover:before {
  opacity: 1;
}
.main-play:hover{
  background-color: rgba(34, 34, 37, 0.92);
  transition: .3 ease-out;
}
.main-play:hover:active:before {
  filter: blur(3px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* animation button 2nd choice */

/* .main-play:hover{
  background-color:transparent ;
  box-shadow: 0px 0px 5px #b51e00, 0px 0px 25px #b51e00, 0px 50px 50px #b51e00, 0px 0px 100px #b51e00;
  -webkit-box-reflect: above 1px linear-gradient(transparent, #0005); 
  transition: .25s ease-out;
} */

/* hamburger menu  */
.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 980px) {
  
  .header-container {
    display: grid;
    grid-template-columns: 1.75fr 0.25fr;
    padding: 5%;
  }
  .main {
    margin-top: calc(57vh + 25px);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }

  .platform,
  .genre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.5);
    margin: 10px 0;
    position: relative;
    
  }
.platform>label, .genre>label{
  color: white;
}
  /* responsive dropdown */
  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: calc(25px + 3px);
    right: 10px;
    font-size: calc( 30px + 1px);
    width: 50px;
    height: 40px;
    color: var(--color1);
  }

  .home {
    background-color: var(--background);
    width: 100%;
    height: 5vh;
  }
  /* Dropdown Styles */
  .dropdown {
    display: none;
    position: absolute;
    top: 80px;
    right: 1px;
    background-color: rgba(1, 57, 87, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  /* notice how .dropdown.active class used to display .dropdown style above in @media rules */
  .dropdown.active {
    display: block;
    padding: 30px;
  }
  .dropdown label,
  .dropdown select {
    display: block;
    margin: calc(13px + 2px);
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators{
    display: none;
  }
  /* carousel  */
  .carousel {
  top: 1%;
  }
  .carousel::after {
    top: 20%;
    height: 60%;
  }

}
