.App { 
  margin: 1% 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.carousel {
  position: absolute;
  top: 6%;
  left: 0;
  padding-top: 5%;
  border-radius: 50%;
}
.logo{
  height: auto;
  width: calc(4rem);
}
.carousel-item > video {
  width: calc(95vw);
  height: 500px;
}
.carousel::after {
  content: "";
  display: block;
  position: absolute;
  top:6%;
  left: 0;
  width: 99%;
  height: 99%;
  background: linear-gradient(
    90deg,
    rgb(34, 32, 32),
    rgb(48, 6, 196),
    rgb(34, 32, 32)
  );
  opacity: 0.3;
}
.main {
  margin-top: 90vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 5px;
}
.main-card {
  border: 1px solid rgb(131, 33, 0);
  border-radius:5px;
}
