@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body {
  background-color: rgb(34, 32, 32);
  color:white;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing:.03rem;
  font-size: .9rem;
}
html{
  filter: brightness(104%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
