/* pagination */
.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}
.pagination button{
  border: none;
  margin: 1px;
 
}
.pagination button.active-button {
  background-color: #28275b; 
  color: #fff; 
}
.pagination button:hover{
  background-color: var(--header-main-color); 
}

@media only screen and (max-width: 960px) {
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pagination li {
    margin: 1px;
  }
}