.signup-page{
  padding: 180px;
  margin: 10%;
  background: linear-gradient(0deg, rgb(0, 16, 34) 0%, rgb(0, 60, 60) 100%);
  border-radius: 8px;
}

@media only screen and (max-width: 980px) {
  .signup-page{
    margin:15% 0;
   display: grid;
   grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
  }
}